{% extends 'base.html' %} 

{% block content %} 
{{ block.super }}

<div class="container">
    {% for image in images %} 
    <a href="{% url 'image' image.id%}">
        <div class="post">
            <div class="upper-bar">
                iko nene
            </div>
            <div class="image-container">
                <img src="{{ image.image_content.url }}" alt="photo">
            </div> 
            <div class="icons-container">
                <p>message</p>
                <p>like</p>
            </div>       
            
        </div>
    </a>
        <hr>
    {% endfor %} 
</div>
{% endblock %}