{% extends 'base.html' %} 

{% block content %} 
   <div class="container">
    <h3>{{ image.image_name }}</h3>

<div class="comments">
    <div class="row">
        <div class="col-md-7">
            <img src="{{ image.image_content.url }}" alt="image">
        </div>
        <div class="col-md-5">
            <h3>{{ image.image_name}}</h3>
            <p>{{ image.image_caption }}</p>
            <p>{{ image.user.username }}</p>
            <small>{{ image.date_created|timesince }} ago</small>


            {% for comment in comments %} 
                <p>{{ comment.user.username }}</p>
                <h4>{{ comment.comment_content }}</h4> 
                <div class="comment-container">

                </div>       
            {% endfor %}

        </div>
       
    </div>
    
</div>
   </div>
{% endblock %}

