{% extends 'base.html' %} 

{% block content %} 
   <div class="container">
    <h3>{{ image.image_name }}</h3>

    <!-- <div class="comments">
        <div class="row">
            .col-md-7
        </div>
        <h3>comments</h3>
       
        {% for comment in comments %} 
            <p>{{ comment.user.username }}</p>
            <h4>{{ comment.comment_content }}</h4>        
        {% endfor %}
    </div> -->


<div class="comments">
    <div class="row">
        <div class="col-md-7">
            <img src="{{ image.image_content.url }}" alt="image">
        </div>
        <div class="col-md-5">
            <h3>{{ image.image_name}}</h3>
            <p>{{ image.image_caption }}</p>
            <p>{{ image.user.username }}</p>
            <small>{{ image.date_created|timesince }} ago</small>

            {% for comment in comments %} 
            <p>{{ comment.user.username }}</p>
            <h4>{{ comment.comment_content }}</h4>        
        {% endfor %}
        </div>
        <div class="comments-section">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="comment_content" placeholder="Add a comment...">
            </form>
            <!-- {% if comment in comments %}  -->
                <!-- {% for comment in comments %} 
                    <p>{{ comment.comment_content }}</p>
                {% endfor %} -->
                    {% for comment in comments %} 
                        <p>{{ comment.user.username }}</p>
                        <h4>{{ comment.comment_content }}</h4>        
                    {% endfor %}
            <!-- {% else %}
                <h3>sorry there are no comments</h3>
            {% endif %} -->
        </div>
    </div>
    
</div>
   </div>
{% endblock %}

