{% extends 'base.html' %} 

{% block content %}
<h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea sequi sunt asperiores!</h4>
login
<div class="container">
    <div class="login-form">
        <form action="" method='POST'>
            {% csrf_token %}
            <input type="text" name='username' placeholder="username">

            <input type="password" name='password' placeholder="Enter password"> 

            <div>

            <button type="submit" value="login">login</button>
            </div>

        </form>
        <div>
            <p>haven't signed up yet?</p>
            <a href="{% url 'register' %}">sign up</a>
        </div>
    </div>
</div>


{% endblock %}