<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid col-md-4">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}"><img clas='navbar-logo' src="https://res.cloudinary.com/dblrvhi8r/image/upload/v1638633829/Instagram_logo.svg_yjnzzz.png" alt="Instagram_logo"></a>
    </div>
  </div>

  <div class="col-sm-4 col-md-3 ">

    <form class="navbar-form" role="search" action="{% url 'search_results' %}">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search profile" name="profile">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>

    </form>

  </div>

  <div class="col-md-4 navbar-right">
      <div class="icons-tray">
          <a href="{% url 'home' %}"><img src="https://res.cloudinary.com/dblrvhi8r/image/upload/v1638687421/home_n1ruo9.svg" alt="home icon"></a>
          <a href=""><img src="https://res.cloudinary.com/dblrvhi8r/image/upload/v1638687421/facebook-messenger_thldyo.svg" alt="messenger icon"></a>
          <a href="{% url 'new_image' %}"><img src="https://res.cloudinary.com/dblrvhi8r/image/upload/v1638687421/new-post_omiio8.svg" alt="new post icon"></a>
          <a href=""><img src="https://res.cloudinary.com/dblrvhi8r/image/upload/v1638687421/compass_cebnz5.svg" alt="location icon"></a>

          {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">logout {{ image.user.username }}</a>
          <!-- <div class="profile">
              <img src="{{ image.user.profile.profile_photo.url }}" alt="">
          </div>   -->
          {% else %}
            <a href="{% url 'login' %}">login</a>
          {% endif %}

          {% if request.user.is_authenticated %} 
             <P>Hello {{request.user}}</P>            
          {% endif %}
      </div>

     

      <!-- Modal -->
      <!-- <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">create new post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="div">
                <h3>Drag photos and videos here</h3>
              </div>
            </div>            
          </div>
        </div>
      </div> -->
  </div>
</nav>
</body>
</html>