{% extends 'base.html' %} 

{% block content %}
<h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea sequi sunt asperiores!</h4>
login
<div class="container">
    <div>
        <form action="" method='POST'>
            {% csrf_token %}
            <label>username</label>
            <input type="text" name='username' placeholder="username">

            <label>password</label>
            <input type="password" name='password' placeholder="Enter password"> 

            <input type="submit" value="register">
        </form>
    </div>
</div>


{% endblock %}