{% extends 'base.html' %} 

{% block content %}
<h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea sequi sunt asperiores!</h4>
login
<div class="container register-page">
    <div>
        <div class="wrapper">
            <form action="" method='POST'>
                {% csrf_token %}
               {{ form.as_p }}
    
                <input type="submit" value="register">
            </form>
        </div>
        <div class="register-page-footer">
            <p>already signed up?</p>
            <a href="{% url 'login' %}">login</a>
        </div>
    </div>
</div>


{% endblock %}